@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* common */
.hide {display: none;}
.blind {
    position:absolute;
    left:-9999px;
}
.clear:after {
    content:"";
    display:block;
    clear:both;
}

.pc {}
.mobile {display:none;}
